* {
	font-family: 'raleway';
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

html{
	/* overflow-x: hidden; */
	font-size: 20px;
}

body {
	margin: 0;
}

header {
	display: flex;
	align-items: center;
	background-color: #0099cc;
	height: 100px;
	justify-content: space-between;
	width: 100%;
}

header.work {
	background-color: #008A23;

}

header.about{
	background-color: #D41547;

}

header.axiom {
	background-color: white;
}

header a#logo {
	height: 100px;
	width: 100px;
}

#logo svg {
	padding: 10px;
	margin-left: 15px;
	opacity: 1;
	transition: all .3s ease-out;
}

#logo svg:hover {
	opacity: .75
}

header li {
	list-style: none;
	display: inline-block;
	padding: 1em;
}

header li a {
	color: white;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	opacity: 1;
	transition: all .3s ease-out;
}

.svg {
	fill: white;
}

.axiom .svg{
	fill: #002E5F;
}
header.axiom li a {
	color: #002E5F;
}

header li a:hover{
	opacity: .75;
}

header li a.email {
	font-size: 1rem;
	text-decoration: underline;

}
.current {
	opacity: .75;
}



main{
	padding: 0 1em;
	width: 100vw;
	min-height: calc(100vh - 100px);
	max-width: 1000px;
	margin: 0 auto;
}


h1 {
	font-size: 3.5em;
	text-align:left;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	padding: 2rem 0 1.5rem 0;
}
h2 {
	font-size:1.5em;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}
h2 b {
	padding-right: 10px;
	color: #F31431;
}

p {
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	font-size: 19px;
}













#container{
	display: flex;
	width: 100%;
	max-width: 1000px;
}

#slots {
	vertical-align: middle;
	/* *vertical-align: auto;
	*zoom: 1; */
	display: flex;
	height: 8em;
	-moz-perspective: 0px;
	-webkit-perspective: 0px;
	perspective: 0px;
	position: relative;
	width: 75%;
	background-color: white;
	margin-top: 1em;
	/* top: -127px;
	left: 6%; */
	/* max-width: 1200px; */
}

#slots:after {
	content: "";
	position: absolute;
	z-index  : 10;
	bottom: 0;
	left: 0;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 66%);
	width: 150%;
	max-width: 720px;
	height: 4em;
}
#slots:before {
	content: "";
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255, 1) 66%);
	width: 150%;
	max-width: 720px;
	height: 4em;
}
.slot-bar{
	width: 100%;
	margin: 0 auto;
	padding: 0 1em;
}
#slots * {
	background-color: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

}
#slots .reel-outer {
	position:relative;
	width: 33%;
}
#slots .reel, #slots .reel-faces, #slots .reel-face-outer, #slots .shadow {
	position: absolute;
}
/* #slots .reel-outer:nth-child(1) {
	left: 1%;
}
#slots .reel-outer:nth-child(2) {
	left: 18%;
}
#slots .reel-outer:nth-child(3) {
	left: 35%;
}
#slots .reel-outer:nth-child(4) {
	left: 53%;
}
#slots .reel-outer:nth-child(5) {
	left: 75%;
} */
#slots .reel {
	height: 160px;
	-moz-transition: all;
	-o-transition: all;
	-webkit-transition: all;
	transition: all;
	-moz-transition-timing-function: cubic-bezier(0.57, -0.03, 0.57, 1.1);
	-o-transition-timing-function: cubic-bezier(0.57, -0.03, 0.57, 1.1);
	-webkit-transition-timing-function: cubic-bezier(0.57, -0.03, 0.57, 1.1);
	transition-timing-function: cubic-bezier(0.57, -0.03, 0.57, 1.1);
	/* width: 15em; */
}
#slots .reel-face-outer {
	height: 80px;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	width: 15em;
}
#slots .reel-face-outer:nth-child(1) {
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
#slots .reel-face-outer:nth-child(2) {
	-moz-transform: rotateX(36deg);
	-webkit-transform: rotateX(36deg);
	transform: rotateX(36deg);
}
#slots .reel-face-outer:nth-child(3) {
	-moz-transform: rotateX(72deg);
	-webkit-transform: rotateX(72deg);
	transform: rotateX(72deg);
}
#slots .reel-face-outer:nth-child(4) {
	-moz-transform: rotateX(108deg);
	-webkit-transform: rotateX(108deg);
	transform: rotateX(108deg);
}
#slots .reel-face-outer:nth-child(5) {
	-moz-transform: rotateX(144deg);
	-webkit-transform: rotateX(144deg);
	transform: rotateX(144deg);
}
#slots .reel-face-outer:nth-child(6) {
	-moz-transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
#slots .reel-face-outer:nth-child(7) {
	-moz-transform: rotateX(216deg);
	-webkit-transform: rotateX(216deg);
	transform: rotateX(216deg);
}
#slots .reel-face-outer:nth-child(8) {
	-moz-transform: rotateX(252deg);
	-webkit-transform: rotateX(252deg);
	transform: rotateX(252deg);
}
#slots .reel-face-outer:nth-child(9) {
	-moz-transform: rotateX(288deg);
	-webkit-transform: rotateX(288deg);
	transform: rotateX(288deg);
}
#slots .reel-face-outer:nth-child(10) {
	-moz-transform: rotateX(324deg);
	-webkit-transform: rotateX(324deg);
	transform: rotateX(324deg);
}
#slots .reel-face {
	height: 50px;
	line-height: 50px;
	-moz-transform: rotateX(72deg);
	-webkit-transform: rotateX(72deg);
	transform: rotateX(72deg);
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	font-size: 1.75em;
	/* width: 12em; */
}




a.spin {
	color: white;
	font-weight:bold;
	font-size: 1.5em;
	font-variant: all-small-caps;
	background-color: #0099cc;
	padding: 0em;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 150px;
	width: 150px;
	line-height: 150px;
	text-align: center;
	position: relative;
	text-decoration: none;
	border: none;
	top: 0;
	font-weight: 700;
	text-shadow: 0 2px 1px rgba(0,0,0,.5);
	box-shadow: 0 8px 0 rgb(0, 96, 128),
	0 15px 20px rgba(0,0,0,.35);
	transition: .025s all ease-in;
	outline: none;
	cursor: pointer;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 11;
}

a.spin:active{
	top: 8px;
	box-shadow:	0 15px 20px rgba(0,0,0,.35);
}
.arrow-cont{
	position: absolute;
	bottom: 1em;
	left: 50%;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-top: 20px solid #0099cc;
  }

  .arrow:after {
	content:" ";
	display:block;
	margin:-20px 0 0 -12px;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;

	border-top: 12px solid white;
  }

/* h3 {
	font-family: 'Quando', sans-serif;
} */



#recent{
	/* padding: 0 1em; */
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
}

#recent h1 {
	color: #008A23;

}

.ex-flex {
	display: flex;
	justify-content: space-between;
}

.example {
	width: 33%;
	height:auto;
	max-width: 250px;
	max-height: 250px;
	/* border: 10px solid white; */
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,.25);
	transition: all .3s ease-out;
}

.example:hover {

	box-shadow: 0 0 15px rgba(0,0,0,.5);

}

.example a {
	color: white;
}
.example a:visited {
	color: white;
}

.example img {
		width: 100%;
		height: auto;
	}

.example h4 {
	position: absolute;
	top: 37%;
	width: 100%;
	margin: 0;
	opacity: 0;
	padding: 1em 0;
	font-family: 'quando', sans-serif;
	transition: all .3s ease-out;
	background-color: rgba(0,0,0,.5)
}

.example:hover h4{
	opacity: 1;
}

.example:hover h4 span {
	display: block;
	font-size: .66rem;
}



#about{
	/* padding: 0 1em; */
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
}

#about h1 {
	color: #D41547;
}
.about-flex {
	display: flex;
	justify-content: space-between;
}
.surreal {
	width: 100%;
	height: 354px;
	max-width: 960px;
    background-image: url("../images/surreal.gif");
    background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
}
.about-flex p{
	width: 70%;
	text-align: left;
	padding-left: 2rem;
	line-height: 30px;
}

#axiom{
	/* padding: 0 1em; */
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
}

#axiom h1 {
	color: #002E5F;
}

#axiom .color-bar {
	background-color: #002E5F;
	width: 100vw;
	height: 150px;
	position: absolute;
	left: 0;
}

.color-bar img {
	position: absolute;
	bottom: -110px;
	/* right: 15%; */
	width: 650px;
	right: 0;
	height: auto;
}

#axiom p.subhead {
	text-align: left;
	width: 30rem;
	padding-bottom: 5rem;
}

#axiom h5 {
	position: relative;
	top: 175px;
	text-align: left;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	font-size: 3em;
	font-variant: all-small-caps;
	color: #002E5F;
	font-weight: 700;

}
#axiom h6 {
	position: relative;
	top: 175px;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	text-align: left;
	font-size: 1em;
	/* color: #002E5F; */
	font-weight: 600;
	font-family: 'Quando', sans-serif;
	margin-bottom: 1.5rem;
}

#axiom p.role {
	position: relative;
	text-align: left;
	top: 180px;
	line-height: 40px;
	padding-bottom: 5rem;
}

#ia {
	position: relative;
	margin-top: 75px;
}

.lofi-cont {
	display: flex;
	flex-wrap: wrap;
}

.lofi-ex {
	padding: .25em;
	width: 25%;
	height: 25%;
}
